doctype html
html( lang="en" )
    head
        meta( charset="utf-8" )/
        title My first express site

    body
        h1= page_title

        p
            | Lorem ipsum dolor sit amet,
            | consectetur adipisicing elit.
            br/
            | Officia aut adipisci ullam dicta suscipit tempora atque,
            | inventore, est voluptatibus, repellat nulla necessitatibus.

        figure
            img( src="images/#{ image_src }", alt="Pixel, the anxious cat.", width="512" )/
